<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Topping: <%= @order.topping %></p>
<p>Total: £<%= @order.total %>.00</p>

<h3>Your Order Has Been Deleted!</h3>
